<h1>THIS IS <%= @cocktail.name.upcase %>!!!!</h1>

<ul>
  <% @cocktail.doses.each do |dose| %>
    <li>
      <%= dose.description %> <%= dose.ingredient.name %> <%= link_to "remova essa dose", dose_path(dose), method: :delete %>
    </li>
  <% end %>
</ul>

<%= link_to "Crie sua dose", new_cocktail_dose_path(@cocktail) %>

<p><%= link_to "Página principal", root_path %></p>
