<h1>CRIE UMA NOVA DOSE PARA <%= @cocktail.name.upcase %></h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit %>
<% end %>
